.pr-40 {
    padding-right: 40px;
}

.active {
    color: #000;
    font-weight: 700 !important;
}

.in-active {
    color: #fff;
}

.next-prev {
    font-weight: 600 !important;
}

@media only screen and (max-width: 767px) {
    .footer-width {
        width: 150px;
    }

    .footer-text {
        font-size: 12px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer-width {
        width: 170px;
    }

    .footer-text {
        font-size: 14px !important;
    }
}

@media only screen and (min-width: 1025px) {
    .footer-width {
        width: 281px;
    }

    .footer-text {
        font-size: 18px !important;
    }
}